{% extends 'base.html.twig' %}


{% block title %}Connexion - La Boutique Française{% endblock %}

{% block content %}
    
    <!-- section login --> 
    <section class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                    <h5 class="card-title text-center">Connexion</h5>
                    <form class="form-signin" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-info">{{ message }}</div>   
                    
                    {% endfor %}
                        <div class="form-label-group mb-3">
                            <label for="inputEmail">Votre Email :</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre adresse email"  required autofocus>
                        </div>

                        <div class="form-label-group">
                            <label for="inputPassword">Votre mot de passe :</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" ><br/>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Se connecter</button>
                        <hr class="my-4">
                        <p class="text-center"><a href="#">Mot de passe oublié</a> ?</p>
                        <p class="text-center">Ou souhaitez-vous <a href="{{ path('register') }}">créer un compte</a> ?</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fin section login -->
{% endblock %}

