{% extends 'base.html.twig' %}
{% block title %}Inscription - Lithosphère France{% endblock %}
{% block content %}  
    <!-- section inscription utilisateur -->
	<section class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                    <h5 class="card-title text-center">Inscription</h5>
                    {% if notification %}
                        <div class="alert alert-info">{{ notification }}</div>
                        <hr>
                    {% endif %}
                    {{ form_start(form, {'method': 'POST'}) }}
                    
                    <div class="form-label-group mb-3">
                        {{ form_label(form.firstname) }}
                        {{ form_widget(form.firstname) }}
                    </div>
                    <div class="form-label-group mb-3">
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                    </div>
                    <div class="form-label-group mb-3">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-label-group mb-3">
                        <div class="form-error">
                            {{ form_errors(form.password) }}
                        </div>
                        {{ form_widget(form.password) }}
                    </div>
                    {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fin section inscription -->
{% endblock %}
