<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="La boutique qui vend uniquement du Made In France">
    <meta name="author" content="Pierrick Dehem Developpement">
    <title>{% block title %}Lithosphère France{% endblock %}</title>
    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900&display=swap" rel="stylesheet">
    <!-- end Fonts -->
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <!-- end Fontawesome -->
    <!-- CSS -->
    <link href="{{asset("assets/css/bootstrap.min.css")}}" rel="stylesheet">
       
    
    <link rel="stylesheet" href="{{asset("assets/css/lithosphere.css")}}" >
    <link rel="stylesheet" href="{{asset("assets/css/lithosphere-responsive.css")}}">
 
    <!-- end CSS -->
</head>
<body>
    
        <!-- début header --><!-- bandeau haut -->
    <div class="banner-top container-fluid" id="home">
        <!-- début header -->
        <header>
            <div class="row">
				<div class="col-md-3 top-info text-left mt-lg-4">
					<h6>Besoin d'un renseignement</h6>
					<ul>
						<li>
							<i class="fas fa-phone"></i> Tel :</li>
						<li class="number-phone mt-3">06 06 06 06 06</li>
					</ul>
				</div>
				<div class="col-md-6 logo text-center">
					<h1 class="logo">
						<a class="navbar-brand" href="{{ path('home') }}">Lithosphère France</a>
					</h1>
				</div>

				<div class="col-md-3 top-info-cart text-right mt-lg-4">
					<ul class="cart-inner-info">
						<li class="button-log">
							{% if app.user %} <!-- si l'utilisateur est connecté -->
								<a href="{{ path('account') }}"><span class="fa fa-user" aria-hidden="true"><small> ({{app.user.firstname|capitalize}})</small></a> | <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
							{% else %}
								<a href="{{ path('account') }}"><span class="fa fa-user" aria-hidden="true"></a>
							{% endif %}
						</li>
                        <li class="button-log">
							<a class="top_cart" href="{{ path('cart') }}">Mon Panier <i class="fas fa-cart-arrow-down"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
            <label class="top-log mx-auto"></label>
            <nav class="navbar navbar-expand-lg navbar-light bg-white top-header mb-2">
                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						
					</span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav nav-mega mx-auto">
						<li class="nav-item active">
							<a class="nav-link ml-lg-0" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#aproposde">A propos</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link" href="{{ path('products') }}">Boutique</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
        <!-- fin header -->       
    </div>
    <!-- end bandeau haut -->    
 

    <main role="main">
        {% block content %}
               
        {% endblock %}  
    </main>
    <!-- section footer -->
    <footer id="aproposde" class="py-lg-5 py-3">
		<div class="container-fluid px-lg-5 px-3">
			<div class="row">
				<div class="col-lg-4 footer-grid">
					<div class="footer-title">
						<h3>A propos de nous :</h3>
					</div>
					<div class="footer-text">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nam, ipsa earum consectetur, odio quod tempora cumque inventore dolore nulla totam ullam harum. Perspiciatis delectus adipisci, quibusdam reprehenderit repudiandae ex.</p>
						<ul class="footer-social text-left mt-lg-4 mt-3">
							<li class="mx-2">
								<a href="https://www.facebook.com/groups/2257108794510666/"><i class="fab fa-facebook-f"></i></a>
							</li>
							<li class="mx-2">
								<a href="https://www.instagram.com/julien.lithosphere/"><i class="fab fa-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 footer-grid">
					<div class="footer-title">
						<h3>Nous retrouver :</h3>
					</div>
					<div class="contact-info">
						<h4>Notre adresse :</h4>
						<p>39 rue de Romainville, 59300 VALENCIENNES.</p>
						<div class="phone">
							<h4>Contact :</h4>
							<p>Phone : 06 06 06 06 06</p>
							<p>Email : <a href="mailto:contact@lithosphere.fr">contact@lithosphere.fr</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 footer-grid">
					<div class="footer-title">
						<h3>Navigation</h3>
					</div>
					<ul class="links">
						<li>
							<a href="{{ path('home') }}">Accueil</a>
						</li>
						<li>
							<a href="#aproposde">A propos</a>
						</li>
						<li>
							<a href="{{ path('c_g_v') }}">CGV</a>
						</li>
                        <li>
							<a href="#">Politique de Confidentialité</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="copyright mt-4">
				<p class="copy-right text-center ">&copy; 2021 Lithosphère. Tous droits réservés | Design par
					<a href="https://pierrickdehem.ovh"> Pierrick Dehem Développement </a>
				</p>
			</div>
		</div>
	</footer>
        <!-- end footer --> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{ asset("assets/js/bootstrap.bundle.js") }}"></script>
</body>
{% block script %}

{% endblock %}
</html>